*{
  margin: 0px;
  padding: 0px;
}
body{
  text-align: center;
}
.container{
  background-color: #E4F9F5;
}
.mountain{
  max-width: 100%;
  min-width: 30%;

}
.name{
  position: relative;
  font-family: cursive;
  color: #40514E;
  font-size: 50px;
  padding-top: 100px;
}
.para{
  position: relative;
  font-family: cursive;
  color: #40514E;
  font-size: 50px;
  padding-top: 70px;
}
